/* Hamburger button */

header .hamburger {
  width: 2.5rem;
  height: 1.8rem;
}

/* Bars/X */
header .hamburger .bar {
  background: var(--white);
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: ease 0.35s;
  transition: ease 0.35s;
}

header .hamburger.active .bar {
  background: var(--red);
}

header .hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

header .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

header .hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
